    <!-- <div class="input-btn">
        <label id="example-radio-group-label">Pick 'at' value or 'cursor'</label>
            <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="atCursor">
                <mat-radio-button class="example-radio-button" *ngFor="let date of dates" [value]="date">
                    {{date}}
                </mat-radio-button>
            </mat-radio-group>
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enter at Value from DB</mat-label>
                <input matInput placeholder="123456789.." [(ngModel)]="dateValue"
                    [ngModelOptions]="{standalone: true}"/>
            </mat-form-field>
        </form>
        <button class="fetchBtn" (click)="convertToDate()" mat-raised-button color="accent"> Give Date</button>
        <button mat-raised-button class="clipboard" [cdkCopyToClipboard]="data">Copy to clipboard</button>
        <span class="example-spacer"></span>
    <button class="homeBtn" mat-raised-button (click)="home()" color="primary"><mat-icon>home</mat-icon>Home</button>
    </div>
    <div>
        <textarea cols="30" rows="15" [(ngModel)]="data"></textarea><br>
    </div> -->