<mat-toolbar color="primary">
    <h1 class="heading">Welcome to Vendor Integration System</h1>
</mat-toolbar>
<div class="content">
    <mat-card>
        <div class="card-top">
            <mat-card-subtitle>SMART CONSTRUCTION</mat-card-subtitle>
            <mat-card-title>VIS</mat-card-title>
            <mat-card-content>
                <p>Select the option below to continue</p>
            </mat-card-content>
        </div>
        <mat-divider inset></mat-divider>
        <div class="card-tabs">
            <mat-card-actions>
                <button mat-raised-button color="accent" routerLink="/vis" routerLinkActive="active" color="accent"
                    selected>VIS Page</button>
                <button mat-raised-button color="accent" routerLink="/abprodData" routerLinkActive="active"
                    color="accent" selected>Abprod Data
                </button>
                <button mat-raised-button color="accent" routerLink="/rtTypeData" routerLinkActive="active"
                    color="accent" selected>rtType Data
                </button>
                <!-- <button mat-raised-button color="accent" routerLink="/dateConverter" routerLinkActive="active"
                    color="accent" selected>Date Converter
                </button> -->
                <button mat-raised-button color="accent" routerLink="/jsonFormatter" routerLinkActive="active"
                    color="accent" selected>JSON Formatter
                </button>
            </mat-card-actions>
        </div>
        <mat-card-footer>
            <mat-progress-bar mode="buffer"></mat-progress-bar>
            <div class="footer-content">
                <iframe class="video"frameborder="0" allowfullscreen="1" allow="autoplay" src="https://www.youtube.com/embed/?playlist=LslcnunpRLw&amp;autoplay=1&amp;loop=1&amp;controls=0&amp;rel=0&amp;playsinline=1&amp;disablekb=1&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwww.earthbrain.com&amp;widgetid=1"></iframe>
            </div>
        </mat-card-footer>
    <div class="homeImg"></div>
    </mat-card>
    <!-- <div class="imageFooter"></div> -->
</div>
